$overlay-color: rgba(0, 0, 0, 0.6);

.hero {
    background: url(../../assets/images/hero-cover.jpg) no-repeat center center;
    background-size: cover;

    .bg-overlay {
        background: $overlay-color;
    }

    .social-links a {
        background: $overlay-color;
        border: 1px solid #FFFFFF;
        border-radius: 50px;

        i {
            font-size: 1.5rem;
        }
    }
    
    button {
        border: 1px solid #FFFFFF;
        background: $overlay-color;
    }
}

.skills {
    .container > div {
        background-color: #161616;
    }

    .progress-bar-container {
        margin-bottom: 1rem;
    }

    .progress-bar-label {
        margin-bottom: 0.5rem;
    }
}

.experience-item {
    background-color: #161616;
    border-left: 2px solid transparent;
    border-left-color: #009E66;

    .experience-item-arrow::after, .experience-item-arrow::before {
        content: '';
        display: block;
        position: absolute;
    }

    .experience-item-arrow::after {
        left: 16px;
        border: 8px solid transparent;
        border-left-color: #009E66;
    }

    .experience-item-arrow::before {
        width: 16px;
        height: 16px;
        left: 0;
        background-color: #009E66;
    }

    .experience-item-details, p {
        color: #9F9F9F;
    }
}

.experience-item:not(:last-child) {
    border-bottom: 1px solid #313131;
}

.about {
    .container > div {
        background-color: #161616;
    }

    p {
        color: #9F9F9F;
    }
}

.contact {
    .container > div {
        background-color: #161616;
    }

    ul > li > div:first-child {
        background: rgba(0, 0, 0, 0.6);
    }


    form {
        input,
        textarea {
            border: 1px solid;
        }
        
        button[type=submit] {
            border: 1px solid #FFFFFF;
            background: rgba(0, 0, 0, 0.6);
        }
    }
}