$overlay-color: rgba(0, 0, 0, 0.6);

.hero {
    background: url(../../assets/images/hero-cover.jpg) no-repeat center center;
    background-size: cover;

    .bg-overlay {
        background: $overlay-color;
    }

    .social-links a {
        background: $overlay-color;
        border: 1px solid #FFFFFF;
        border-radius: 50px;

        i {
            font-size: 1.5rem;
        }
    }
    
    button {
        border: 1px solid #FFFFFF;
        background: $overlay-color;
    }
}

form[name=enquiry] {
    max-width: 1000px;

    input,
    textarea {
        border: 1px solid;
    }
    
    button[type=submit] {
        background-color: #1F1F1F;
    }
}

.about {
    padding: 12rem 2.5rem;
}

.contact ul > li {
    text-align: center;
    
    .icon-container {
        display: inline-block;
        border: 1px solid;
        border-radius: 50px;
        padding: 15px;
    }    
}