body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: calc(38px + (65 - 38) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 0.15rem;
}

h2 {
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
}

/*** Header ***/

nav ul > li > a {
    font-size: 16px;
}

/*** End of Header ***/

.timeline {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 23px;
        left: 50%;
        height: 99.5%;
        width: 4px;
        opacity: 0.3;
        background: #48695E;
    }

    .timeline-block {
        position: relative;

        .timeline-dot {
            background: #48695E;
            border-radius: 100%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: #fff;
            text-align: center;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 50%;
            top: 0;
            margin-left: -24px;
        }

        &:nth-child(even) .timeline-content::before  {
            left: 52%;
        }

        &:nth-child(even) .card {
            grid-column-start: 2;
            padding-left: 5rem;
            padding-right: 0;
        }

        .timeline-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;

            &::before {
                content: '';
                width: 58px;
                height: 4px;
                position: absolute;
                top: 26px;
                left: 44%;
                z-index: -2;
                opacity: 0.4;
                background: #48695E;
            }

            &::after {
                clear: both;
                content: '';
            }
        }
    }
}

.scroll-to-top button {
    position: fixed;
    bottom: 0.75rem;
    right: 1.25rem;
    background: #3A3C41;

    &:focus {
        outline: none;
    }
    
    i {
        font-size: 1rem;
    }
}

/*** Footer ***/

footer {
    background-color: #1F1F1F;
}

/*** End of Footer ***/

.hidden {
    display: none;
}

/*** Responsive ***/



/*** End of Responsive ***/